<% if @user.errors.any? %>
	<ul>
		<% @user.errors.full_messages.each do |message| %>
			
			 <li><%= message %></li>

		<% end %>
	</ul>

<% end %>

<%= form_for @user, :html => {:multipart => true} do |f| %>
	<%= f.text_field :fname, placeholder: "First Name" %><br />
	<%= f.text_field :lname, placeholder: "Last Name" %><br />
	<%= f.email_field :email, placeholder: "Email" %><br />
	<%= f.text_area :bio, placeholder: "Bio"  %><br />
	<%= f.password_field :password, placeholder: "Password", value: current_user.password %><br />
	<%= f.submit :class => 'formbuttons'%>
<% end %>