<% if @user.errors.any? %>
	<ul>
		<% @user.errors.full_messages.each do |message| %>

			 <li><%= message %></li>

		<% end %>
	</ul>

<% end %>

<%= form_for @user, :html => { :multipart => true } do |f| %>
	
	<%= f.text_field :fname, placeholder: "First Name" %><br />
	<%= f.text_field :lname, placeholder: "Last Name" %><br />
	<%= f.email_field :email, placeholder: "Email"  %><br />
	<%= f.text_field :gender, placeholder: "Gender" %><br />
	<%= f.text_field :preference, placeholder: "Interested In" %><br />
	<%= f.text_area :bio, placeholder: "Bio"  %><br />
	<%= f.password_field :password, placeholder: "Password"%><br />
	<%= f.submit :class => 'formbuttons'%>
	<br />
<br />
	<%= form_for @user, :url => users_path, :html => { :multipart => true } do |form| %>
 	<%= form.file_field :avatar %>
	<% end %>
<% end %>