<div class="home-user-image">
  <h3>Welcome <%= @user.fname %>!</h3>
<!--   <%= image_tag @user.avatar.url(:medium) %> -->
  <%= flash[:notice] if flash[:notice] %>
</div>


<div>

</div>

<div class="search-bar">
  <div class="home-user-search">
    <h2>YouHungry? Search Now!</h2>
  </div>
<%= flash[:search_fail] if flash[:search_fail] %>
<%= render 'shared/search_bar' %>
<% if @search != nil %>
		<% begin %>
		<% response = @client.search_by_coordinates({ latitude: @user.latitude, longitude: @user.longitude }, { term: 'food', category_filter: params[:search] }) %>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-2">
					<b>Restaurants</b>
				</div>
				<div class="col-md-2">
					<b>Address</b>
				</div>
				<div class="col-md-2">
					<b>Phone Number</b>
				</div>
				<div class="col-md-2" id ="yelp_picture">
					<b>Picture</b>
				</div>
			</div>
          <hr/>
		<% response.businesses.each do |x| %>
			<div class="row">
				<div class="col-md-2">
					<p><b><%= x.name %></b></p>
					<p><img src="<%= x.rating_img_url %>"> <%= x.review_count.to_s %></p>
					<a href="<%= x.url %>">View Restaurant</a> <br>

                    <%= link_to 'Like', restaurants_path(name: x.id), method: :post, remote: true%>
                    <%= link_to 'Unlike', unlike_path(name: x.id), method: :post, remote: true%>
				</div>
				<div class="col-md-2">
					<p><%= x.location.display_address.to_s.gsub('"', '').gsub('[', '').gsub(']', '') %></p>
				</div>
				<div class="col-md-2">
					<p><%= x.display_phone.to_s.gsub('+', '') %></p>
				</div>
				<div class="col-md-2" id ="yelp_picture">
					<img src="<%= x.image_url %>">
				</div>
			</div>
              <hr/>
		<% end %>
		</div>
		<% rescue %>
			<script type="text/javascript">
    			window.location.href="/users"
  			</script>
			<%= flash[:search_fail] = "Search Failed" %>
		<% end %>
<% end %>

</div>


