<div>
  <h1><%= @user.fname %>'s Profile</h1>

</div>
<div class="user-show-image">

  <%= image_tag @user.avatar.url(:medium) %>
  <h2><%= @user.fname %> <%= @user.lname %></h2>
  <h3>Gender: <%= @user.gender %></h3>
  <h3>Bio: <br/><%= @user.bio %></h3><br />

</div>


<% if @user.id == current_user.id %>
	<%= link_to 'Edit profile', edit_user_path(current_user.id) %> <br />
<% end %>








<% randomID = Random.new.rand(1..User.all.count) %>

<% randUser = User.find(randomID) %>


Users that might interest you: 
<ul>
<% (0..5).each do |x| %>
<% randID = Random.new.rand(1..User.all.count) %>
<% randUser = User.find(randID) %>
<li><%= link_to randUser.fname, user_path(randUser.id) %></li>
<% end %>
</ul>
<br />

Users Liked Restaurants:
<ul>
<% @user.all_following.each do |x| %>
	<li><%= x.name %></li>
<% end %>
</ul>
