<div id="left_profile">
	<div class="user-show-image">
	  <h2><%= @user.fname %> <%= @user.lname %></h2>
	  <%= image_tag @user.avatar.url(:medium) %>
	  <h3>Gender: <%= @user.gender %></h3>
	  <h3 id="bio_text">Bio: <%= @user.bio %></h3><br />
	</div>

	<% if @user.id == current_user.id %>
		<%= link_to 'Edit profile', edit_user_path(current_user.id) %> <br />
	<% end %>

	<% if @user.id != current_user.id %>
		<%= link_to 'Send Message', new_message_path %>
	<% end %>
</div>



<div id="right_profile">
	<h3>Users Liked Restaurants:</h3>
	<ul>
	<% @user.all_following.each do |rest| %>
		<li><%= rest.name %></li>
	<% end %>
	</ul>
</div>
<% if current_user == @user %>
<div id="bottom_profile">
	<p>Users that might interest you:</p>
	<div id="scroll">
	here they are
		<ul>
			<% @candidates.each do |candidate| %>
				<li>
				<%= link_to(image_tag(candidate.avatar.url(:medium)), user_path(candidate)) %>
				<br>
				<%= link_to candidate.fname, user_path(candidate) %> 
				</li>
			<% end %>
		</ul>
	</div>
</div>
<% end %>
