<div>
  <h1><%= @user.fname %>'s Profile</h1>

</div>
<div class="user-show-image">

  <%= image_tag @user.avatar.url(:medium) %>
  <h2><%= @user.fname %> <%= @user.lname %></h2>
  <h3>Gender: <%= @user.gender %></h3>
  <h3>Bio: <br/><%= @user.bio %></h3><br />

</div>






<%= link_to 'Edit profile', edit_user_path(current_user.id) %> <br />

<% randomID = Random.new.rand(1..User.all.count) %>
<% randUser = User.find(randomID) %>
Users that might interest you: <%= link_to randUser.fname, user_path(randUser.id) %>
<br />
