<div id="top_profile">
  <h1><%= @user.fname %>'s Profile</h1>
</div>

<div id="left_profile">
	<div class="user-show-image">
	  <h2><%= @user.fname %> <%= @user.lname %></h2>
	  <%= image_tag @user.avatar.url(:medium) %>
	  <h3>Gender: <%= @user.gender %></h3>
	  <h3 id="bio_text">Bio: <br/> <span><%= @user.bio %></span></h3><br />
	</div>
	<% if @user.id == current_user.id %>
		<%= link_to 'Edit profile', edit_user_path(current_user.id) %> <br />
	<% end %>
</div>



<div id="right_profile">
	<h3>Users Liked Restaurants:</h3>
	<ul>
	<% @user.all_following.each do |rest| %>
		<li><%= rest.name %></li>
	<% end %>
	</ul>
</div>

<div id="bottom_profile">
	<p>Users that might interest you:</p>
	<div id="scroll">
		<ul>
			<% 15.times do %>
				<% random_user = rand(1..User.all.count) %>
				<% while ((random_user == current_user.id) and ((User.find(random_user).gender.downcase)) != (current_user.preference.downcase)) do %>
					<% random_user = rand(1..User.all.count) %>
				<% end %>
				<li>
				<%= link_to (image_tag User.find(random_user).avatar.url(:medium)), user_path(User.find(random_user).id) %>
				<br>
				<%= link_to User.find(random_user).fname, user_path(User.find(random_user).id) %> 
				</li>
			<% end %>

		</ul>
	</div>
</div>