<!DOCTYPE html>
<html>
<head>
  <title>YouHungry</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<% if current_user != nil %>
	<h3>Welcome <%=current_user.fname%>! </h3>
	<%= link_to 'Sign Out', logout_path %>
	<%end%>
	</header>
		<div class="signoutlink">
			<br>
			<a class="notice"><%= flash[:notice] if flash[:notice] %></a>
				<a class="alert"><%= flash[:alert] if flash[:alert] %></a>
				<br>

		</div>
<%= yield %>

</body>
</html>
