<!DOCTYPE html>
<html>
<head>
  <title>YouHungry</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <%= csrf_meta_tags %>
</head>
<body>
	<header>


    <nav class="nav-bar">
      <div class="WelcomeMessage">
        <% if current_user != nil %>
            <h3>Welcome <%=current_user.fname%>! </h3>
        <%else%>
            <h1><%= "YouHungry?" %></h1>
        <%end%>
      </div>



      <ul>
        <% if current_user == nil %>
            <li><a href="/#firstPage" id="nav-home">Home</a></li>|
            <li><a href="#secondPage" id="nav-about">About</a></li>|
            <li><a href="#thirdPage" id="nav-signin">Sign In</a></li>
        <% else %>
            <li> <%= link_to 'Search', users_path %></li> |
            <li> <%= link_to 'Profile', current_user %></li> |
            <li><%= link_to 'Inbox', conversations_path %></li> 
          | <li>  <%= link_to 'Sign Out', logout_path %> </li>
        <% end %>
      </ul>



    </nav>
      <a class="notice"><%= flash[:notice] if flash[:notice] %></a>
      <a class="alert"><%= flash[:alert] if flash[:alert] %></a>
    </header>
<%= yield %>

      <footer>
        <div class="Footer">
          <p>©2015 YouHungry Inc.</p>
          <ul>
            <li>
              <i class="fa fa-facebook-square fa-2x"></i>
            </li>
            <li>
              <i class="fa fa-twitter-square fa-2x"></i>
            </li>
          </ul>
        </div>
      </footer>
</body>
</html>
