<!DOCTYPE html>
<html>
<head>
  <title>YouHungry</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>


    <nav class="nav-bar">
      <% if current_user != nil %>
          <h3>Welcome <%=current_user.fname%>! </h3>
          <%= link_to 'sign out', logout_path %></p></li>
      <%else%>
          <h1><%= "YouHungry?" %></h1>
      <%end%>

      <a class="notice"><%= flash[:notice] if flash[:notice] %></a>
      <a class="alert"><%= flash[:alert] if flash[:alert] %></a>

      <ul>
        <li><a href="#firstPage" id="nav-home">Home</a></li>|
        <li><a href="#secondPage" id="nav-about">About</a></li>|
        <li><a href="#thirdPage" id="nav-signin">Sign In</a></li>|
        <li><a href="#thirdPage" id="nav-signup">Sign Up</a></li>
      </ul>



    </nav>
<%= yield %>

</body>
</html>
